* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  color: #333;
  font-family: verdana, arial, sans-serif;
  line-height: 1.3em;
  background-color: #414240;
background: #ff7700; /* Old browsers */
background: -moz-linear-gradient(top, #ff7700 0%, #fff9fc 45%, #fff9fc 55%, #ff7700 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7700), color-stop(45%,#fff9fc), color-stop(55%,#fff9fc), color-stop(100%,#ff7700)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff7700 0%,#fff9fc 45%,#fff9fc 55%,#ff7700 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff7700 0%,#fff9fc 45%,#fff9fc 55%,#ff7700 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff7700 0%,#fff9fc 45%,#fff9fc 55%,#ff7700 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff7700 0%,#fff9fc 45%,#fff9fc 55%,#ff7700 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7700', endColorstr='#ff7700',GradientType=0 ); /* IE6-9 */
}

.container{
  width: 900px;
  margin: 10px auto;
/*  padding: 40px;
  background-color: blue;
  position: relative;
*/  margin-top: 200px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;  
  box-shadow: 1px solid rgba(0, 0, 0, 0.5), 0  0  0  1px rgba(0, 0, 0, 0.2);
}

.container .pics{
/*  border-top:
  bortder bott;
*/}

.container .pics img{
  padding: 5px;
}

.container .vid{
  margin-left: 90px;
}

.container p {
  color: #79965d;
}

header{
  background-color: #FF7700;
  overflow: hidden;
  height: 95px;
}

.logo {
  display: block;
  margin: 0 auto;
/*  position: absolute;
  left: 166px;
  top:-225px;
*//*  margin: 0 auto;
*//*  background-color: yellow;
*/}

nav{
/*  background-color: yellow;
*/  width: 650px;
  margin: 0 auto;
}

nav ul{
  overflow: hidden;
  margin: 0 auto;
}

nav ul li{
  float:left;
  margin: 15px;
  padding: 15px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  box-shadow: 1px solid rgba(0, 0, 0, 0.5), 0  0  0  1px rgba(0, 0, 0, 0.2);

}

nav ul li a{
  color: black;
  text-decoration:none;
}

nav ul li:hover{
  border: 3px solid #718D58;
}
nav ul li.active{
  background-color: #718D58;
}

 .quick_contact {
  position: absolute;
  right:10px;
  top: 10px;
  padding: 10px;
}

/*header{
  text-align: center;
  padding: 10px;
  font-size: 45px;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, .5);
  text-shadow: 0 1px 0 #ffffff;
  color: #79965d;
}
*/
hr{
  color: #79965d;
}

.footer{
  width: 100%;
}



