body{
	font-family: Verdana, sans-serif, arial;
	color: white;
	letter-spacing: .3em;
	font-size: 40px;
	background-color: #B31919;
	
}

section{
	color: orange;
	font-size: 22px;
}

head, body{
	text-align: center;
}

a{
	text-decoration: none;
	color: red;
}

img{
	padding: 20px;
}