* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  color: #333;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.3em;
  background-color: #414240;
  background: #ff7400; /* Old browsers */
background: -moz-linear-gradient(top, #ff7400 0%, #ffffff 31%, #fffcf9 67%, #ff7400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7400), color-stop(31%,#ffffff), color-stop(67%,#fffcf9), color-stop(100%,#ff7400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff7400 0%,#ffffff 31%,#fffcf9 67%,#ff7400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff7400 0%,#ffffff 31%,#fffcf9 67%,#ff7400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff7400 0%,#ffffff 31%,#fffcf9 67%,#ff7400 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff7400 0%,#ffffff 31%,#fffcf9 67%,#ff7400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */

}

.container{
  width: 900px;
  margin: 100px auto;
  padding: 40px;
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  background-color: #FF3700;
  box-shadow: 1px solid rgba(0, 0, 0, 0.5), 0  0  0  1px rgba(0, 0, 0, 0.2);
}

.container .pics img{
  padding: 5px;
}

.container .vid{
  margin-left: 90px;
}

nav{
  background-color: #FF7700;
  overflow: hidden;
  width: 100%;
  margin:auto;
  height: 95px;
}

nav .logo {
  float:left;
}

nav ul{
  overflow: hidden;
}

nav ul li{
  float:left;
  margin: 15px;
  padding: 15px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  box-shadow: 1px solid rgba(0, 0, 0, 0.5), 0  0  0  1px rgba(0, 0, 0, 0.2);

}

nav ul li a{
  color: black;
  text-decoration:none;
}

nav ul li:hover{
  border: 3px solid #718D58;
}
nav ul li.active{
  background-color: #718D58;
}

nav .quick_contact {
  float: right;
  margin-top: 10px;
  padding: 10px;
}

header{
  text-align: center;
  padding: 30px;
  font-size: 45px;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, .5);
  text-shadow: 0 1px 0 #ffffff;
}




.footer{
  width: 100%;
}



